@page "/Confirmation2"

<h2>Beantragung für Client-ID: Bestätigung</h2>

<div>
 <p>Danke, <b>@ClientIDModelResult.Name</b><text>.</text> Der Server hat Ihre personalisierte Client-ID für <b>@ClientIDModelResult.ClientArt</b> gesendet an <b>@ClientIDModelResult.EMail</b>.<br />Bitte beachten Sie, dass eine Client-ID jederzeit widerrufen werden kann, falls Sie diese missbrauchen!</p>
 <p>Ihre Client-ID ist: @ClientIDModelResult.ClientID</p>
</div>