<Router AppAssembly="@typeof(_Imports).Assembly" AdditionalAssemblies="new[] { typeof(Client._Imports).Assembly,      typeof(MLBlazorRCL.Login.Login).Assembly,      typeof(Samples.SamplesList).Assembly }">

 <Navigating>
  <div>
   <p>Loading the requested page...</p>
  </div>
 </Navigating>

    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MLBlazorRCL.Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />

    </Found>

</Router>
