@page "/EditorRequiredDemo"
@using  Samples.Komponenteneinbettung.Komponentenhost_ValueType

<h3>EditorRequiredDemo</h3>

@code {

}

<h2>Hier ist der Parameter vorhanden</h2>
<CounterPanel StartValue="42" />

<h2>Falls hier der Parameter fehlt, gibt es eine Warnung in Visual Studio!!!</h2>
<CounterPanel StartValue="1" />