@using ITVisions
@using System.Globalization

<div class="row">

 @foreach(var prop in Model)
 {
  <div class="col-xs-6">@prop.Key</div>
  <div class="col-xs-6">@(String.IsNullOrEmpty(prop.Value.ToString()) ? "-" : prop.Value.ToString())</div>
 }
</div>