@using ITVisions.Blazor
@using System.Runtime.Serialization;
@using System.Runtime.InteropServices;
@inject BlazorUtil Util

<a @onclick="ExportXMLFile"><span id="ShowGrid" title="Aufgabenliste in XML-Datei @ExportPath exportieren" class="glyphicon glyphicon-floppy-save"></span></a>
@if (System.Runtime.InteropServices.RuntimeInformation.IsOSPlatform(OSPlatform.Windows)) {
 <a style="margin-left:10px" @onclick="ExportWord"><span id="ShowGrid" title="Word-Dokument @ExportPathWord aus der Aufgabenliste erzeugen (via COM-Interop)" class="glyphicon glyphicon-export"></span></a>
}
