@* Normalerweise liegen die zu testenden Komponenten nicht im gleichen Projekt wie die Tests.
In diesem einfachen Testfällen liegt beides in einem Projekt, um in Schulungen und Präsentionen Wechsel zu vermeiden, die für die Zuschauer unübersichtlich werden *@

<div>
<h1>Counter</h1>

<p>
 Current count: 
 @currentCount
 </p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</div>
@code {
 int currentCount = 0;

 async Task IncrementCount()
 {
  await Task.Delay(100);
  currentCount++;
 }
}