@using System.Reflection

@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.WebAssembly.Services

@inject NavigationManager NavigationManager
@inject LazyAssemblyLoader LazyAssemblyLoader

<CascadingAuthenticationState>
 <Router AppAssembly="typeof(Program).Assembly"
         AdditionalAssemblies="lazyLoadedAssemblies"
         OnNavigateAsync="@OnNavigateAsync">
  <Navigating>
   <div>
    <div class="spinner">
     <div class="rect1"></div>
     <div class="rect2"></div>
     <div class="rect3"></div>
     <div class="rect4"></div>
     <div class="rect5"></div>
    </div>
    <h1>Loading...</h1>
   </div>
  </Navigating>

  <Found Context="routeData">
   <AuthorizeRouteView RouteData="@routeData"
                       DefaultLayout="@typeof(MLBlazorRCL.Layout.MainLayout)">
    <Authorizing>
     <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
     </div>
     <h1>Authorizing...</h1>
    </Authorizing>

    <NotAuthorized>
     @{
      NavigationManager.NavigateTo("/");
     }
     @*oder: Sie sind nicht angemeldet und können den Inhalt dieser Seite daher nicht sehen. Bitte melden Sie sich an in der <a href="/Login">Anmeldemaske</a>*@
    </NotAuthorized>

   </AuthorizeRouteView>
  </Found>

  <NotFound>
   <PageTitle>Not found</PageTitle>
   <h1>Sorry, Page not found :-(</h1>
  </NotFound>

 </Router>
</CascadingAuthenticationState>

@code {
 // Samples.SamplesList nurDafuerDaWeilBlazorWebAssemblyIrgendeineDirekteNutzungBraucht = new();

 private List<Assembly> lazyLoadedAssemblies = new() { typeof(MLBlazorRCL.MainView.Main).Assembly, typeof(Samples.SamplesList).Assembly };

 private async Task OnNavigateAsync(NavigationContext args)
 {
  Console.WriteLine("OnNavigateAsync: " + args.Path);
  // Alle Pfade /Samples/ liegen in MLBlazorRCL.dl
  // Aber es gibt in /Samples_BW und /Samples_BS in den Hauptprojekten!
  if (args.Path.Contains("Samples/", System.StringComparison.CurrentCultureIgnoreCase) || args.Path.Contains("SamplesList", System.StringComparison.CurrentCultureIgnoreCase))
  {
   Console.WriteLine("Lazy Loading SamplesRCL.dll...");
   var a = await LazyAssemblyLoader.LoadAssembliesAsync(new string[] { "SamplesRCL.dll" });
   lazyLoadedAssemblies.AddRange(a);
  }
 }
}