@page "/not-found"

<div class="text-center mt-5">
 <img src="/_content/MLBlazorRCL/img/NotFound404.png" alt="404 Illustration" title="Seite nicht gefunden" style="max-width:300px; width:100%; margin-bottom:2rem;" />
 <h2 class="mb-3" style="color:#6c757d;">Seite nicht gefunden</h2>
 <p class="mb-4">Die angeforderte Adresse existiert leider nicht.<br />Bitte überprüfen Sie die URL oder kehren Sie zur <a href="/">Startseite</a> zurück.</p>

 <br />
 <a class="btn btn-primary" href="/">Zurück zur Startseite</a>
</div>