@page "/Samples_BS/SysInfo"
@using ITVisions.Blazor


<h2>Allgemeine Systeminformationen</h2>
@((MarkupString)Ausgabe1)

<h2>Informationen über Webserver und die aktuelle HTTP-Anfrage</h2>
@((MarkupString)Ausgabe2)



@code
{
 // Hier wäre auch noch Code möglich, wenn man unbedingt will ;-)
}