@page "/Vorlage"
@using ITVisions.Blazor

<h2>Code-Behind-Vorlage</h2>
X:
<input type="number" @bind="X" />
Y:
<input type="number" @bind="Y" />
<button @onclick="AddAsync">Add x + y</button>
Sum: @Sum

@code
{

 void Test()
 {
  // string Test = "Hallo";
 }
 // var string = """
 // Dies ist ein "Test" für einen Raw Literal String
 // """;
 // Hier wäre auch noch Code möglich, wenn man unbedingt will ;-)
}