<div class="form-check">
 <InputCheckbox class="form-check-input bigCheckbox" @bind-Value="Value" @bind-Value:after="()=>ValueChanged.InvokeAsync(Value)" />
 <label @onclick="ChangeCheckboxState" class="form-check-label bigCheckboxLabel">@((MarkupString)Label)</label>
</div>

@code {

 #region Unterstützung für @bind-Value
 [Parameter]
 public Boolean Value { get; set; }

 [Parameter]
 public EventCallback<Boolean> ValueChanged { get; set; }
 #endregion

#pragma warning disable BL0007 // "should be auto property" unterdrücken
 [Parameter]
 public string Label { get; set; }

 void ChangeCheckboxState() => Value = !Value;

}