
<div class="form-group form-check">
 <InputCheckbox class="form-check-input bigCheckbox" @bind-Value="Value" />
 <label @onclick="ChangeCheckboxState" class="form-check-label bigCheckboxLabel">@((MarkupString)Label)</label>
</div>

@code {

 #region Unterstützung für @bind-Value
  private Boolean value;

 [Parameter]
 public Boolean Value
 {
  get => value;
  set
  {
   if (this.value == value) return;

   this.value = value;
   ValueChanged.InvokeAsync(value);
  }
 }

 [Parameter]
 public EventCallback<Boolean> ValueChanged { get; set; }
 #endregion

 [Parameter]
 public string Label { get; set; }

 void ChangeCheckboxState() => Value = !Value;

}