<div class="form-check">
 <InputRadio class="form-check-input bigCheckbox" @bind-Value="@Value" @bind-Value:after="()=>ValueChanged.InvokeAsync(Value)"/>
 <label @onclick="ChangeRadioState"  class="form-check-label bigCheckboxLabel">@((MarkupString)Label)</label>
</div>


@code {

 [Parameter]
 public string Label { get; set; }


 [Parameter]
 public int Value { get; set; }

 void ChangeRadioState()
 {
  ValueChanged.InvokeAsync(this.Value);
 }

 [Parameter]
 public EventCallback<int> ValueChanged { get; set; }

}
