
<div class="form-group form-check">
 <InputRadio @ref="radio" class="form-check-input bigCheckbox" Value="@Value" />
 <label @onclick="ChangeRadioState"  class="form-check-label bigCheckboxLabel">@((MarkupString)Label)</label>
</div>


@code {

 private int _value;

 [Parameter]
 public string Label { get; set; }

 InputRadio<int> radio;

 [Parameter]
 public int Value
 {
  get => _value;
  set
  {
   if (_value == value) return;

   _value = value;
   ValueChanged.InvokeAsync(value);
  }
 }

 void ChangeRadioState()
 {
  ValueChanged.InvokeAsync(this.Value);
 }

 [Parameter]
 public EventCallback<int> ValueChanged { get; set; }

}
