@page "/Samples/ThemenübergreifendeBeispiele/index"
@page "/Samples/ThemenübergreifendeBeispiele"

<h3>QuadratwurzelRechner</h3>


<p>Dies ist ein Beispiel, das aus Svelte nach Blazor portiert wurde. Daher die zum Teil abweichenden Namenskonventionen!</p>

<QuadratwurzelRechner x="40"></QuadratwurzelRechner>