@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h1>Counter</h1>
<p>Current count: @Counter</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

 [Parameter]
 public string ID { get; set; }

 public int? Counter { get; set; } = null;

 protected async override Task OnInitializedAsync()
 {
  // await localStorage.GetItemAsync<int>(ID); geht nicht: InvalidOperationException: JavaScript interop calls cannot be issued at this time. This is because the component is being statically rendererd. When prerendering is enabled, JavaScript interop calls can only be performed during the OnAfterRenderAsync lifecycle method.
 }

 protected async override Task OnAfterRenderAsync(bool firstRender)
 {
  if (firstRender)
  {
   Counter = await localStorage.GetItemAsync<int>(ID);
   this.StateHasChanged();
  }
 }

 async Task IncrementCount()
 {
  Counter++;
  await localStorage.SetItemAsync(ID, Counter);
 }
}