@page "/Samples/DynamicDLLLoading"
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime
<h3>LazyLoading</h3>

<button @onclick="Load">Load</button>
<hr />
@Ausgabe
@code {

 string Ausgabe;

 async Task Load()
 {
  var bytes = await HttpClient.GetByteArrayAsync("https://localhost:44340/_framework/_bin/ITVisions.Blazor.dll");
  var assembly = System.Reflection.Assembly.Load(bytes);
  var t = assembly.GetType("ITVisions.Blazor.BlazorUtil");
  object classInstance = Activator.CreateInstance(t, JSRuntime, null, null);
  var m = t.GetMethod("GetBlazorVersionInfo");
  var r = m.Invoke(classInstance, null);

  Console.WriteLine(Ausgabe);
  Ausgabe = $"ITVisions.Blazor.BlazorUtil.GetBlazorVersionInfo(): " + r.ToString();
 }
}
